
/*p **This program is for external.html
 {
    color:red;
    font-weight: bold;
    font-size:50px;
} */

/* p
{
    color: blue;
} */


div p
{
    color: darkcyan;
    background:cornsilk;
     
}
#firstPara
{
color: black;    
}
 
.secondPara
{
    color:turquoise;
    background-color: black;
}
